<div class="container my-1 px-3">
    <header class="d-flex justify-content-center py-2">
        <h3> <%= message %></h3>
    </header>

    <%= form_with(model: @admin, url: root, local: true) do |form| %>
        <% if @admin.errors.any? %>
          <div id="error_explanation" class="alert alert-danger" role="alert">
            <h2>(<%= @admin.errors.count %>) erros</h2>

            <ul>
            <% @admin.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :email, class:"form-label", id:"exampleFormControl"%>
          <%= form.text_field :email, class:"form-control", for:"exampleFormControlInput1", placeholder:'ex: teste@teste.com' %>
        </div>

        <div class="mb-3">
          <%= form.label :name, class:"form-label", id:"exampleFormControl"%>
          <%= form.text_field :name, class:"form-control", for:"exampleFormControlInput1", placeholder:'Digite seu nome' %>
        </div>

        <div class="mb-3">
          <%= form.label :password, class:"form-label", id:"exampleFormControl"%>
          <%= form.text_field :password, class:"form-control", for:"exampleFormControlInput1", placeholder:'Digite sua Senha' %>
        </div>

        <div class="mb-3">
          <%= form.label :password_confirmation, class:"form-label", id:"exampleFormControl"%>
          <%= form.text_field :password_confirmation, class:"form-control", for:"exampleFormControlInput1", placeholder:'Confirme sua senha' %>
        </div>

        <%= form.submit "Salva", class:"btn btn-success my-2"%>
    <% end %>
</div>
