<!DOCTYPE html>
<html>
  <head>
    <title>App Profission</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


    <nav id="navbar-example2" class="navbar navbar-light bg-dark px-3">
    <a class="navbar-brand text-light" href="/">Home</a>
    <ul class="nav nav-pills">
      <% if admin_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= current_admin.name %></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Perfil', admin_path, class:"dropdown-item"%>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Editar informações', '#', class:"dropdown-item"%>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Sair', session_sair_path, method: :delete, class:"dropdown-item"%>
            </li>
      <% else %>
        <%= link_to "Entrar", session_entrar_path, class:"dropdown-item text-light" %>
      <% end %>
        </ul>
      </li>
    </ul>
  </nav>


  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>

  <% if notice %>
      <%= javascript_tag do %>
           $.bootstrapGrowl('<%= notice %>', {
           type: 'success', // (null, 'info', 'danger', 'success')
           align: 'right', // ('left', 'right', or 'center')
           allow_dismiss: true, // If true then will display a cross to close the popup.
           stackup_spacing: 10 // spacing between consecutively stacked growls.
           });
      <% end %>
  <% end %>

  </body>
</html>
